<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		h1 {
        text-decoration-line: underline;
				text-decoration-color: #F0612F;
		}
		p {
				font-size: 1.15rem;
		}
		#main-navbar {
				display: flex;
				justify-content: space-between;
				margin-top: 2rem;
		}
		#header {
				display: flex;
				justify-content: space-evenly;
		}
    #main-navbar .menu-btn {
        display: none;
				flex-direction: column;
				justify-content: space-around;
        width: 1.5rem;
        height: 1.5rem;
				margin: auto 0;
		}
		.menu-btn span {
				width: 100%;
				height: 3px;
				background-color: #F0612F;
		}
		#sidedrawer {
        padding-top: 2.5rem;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 1);
				display: none;
				position:fixed;
				left: 0;
				top: 0;
		}

		#sidedrawer .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 1.5rem;
        height: 1.5rem;
        margin: auto 0;
    }

		#sidedrawer:target {
				display: flex;
        flex-direction: column;
		}

    #sidedrawer ul {
				display: flex;
				flex-direction: column;
				text-align: left;
		}

		#sidedrawer a {
				text-decoration: none;
				color: #F0612F;
				font-weight: bold;
				font-size: 1.5rem;
		}

    #sidedrawer span {
        width: 100%;
        height: 3px;
        background-color: #F0612F;
    }

		@media (max-width: 62rem) {
				#header {
						display: none;
				}

				#youtube {
            width: 300px;
						height: 171px;
				}

        #main-navbar .menu-btn {
						display: flex;
				}

		}

		.img img{
				display: block;
				max-width: 90%;
				max-height: 100%;
				object-fit: cover;
				margin: 2rem auto;
		}

		#statistics {
				list-style: none;
				display: grid;
				grid-template-columns: 2fr 1fr;
        max-width: 90%;
		}

    #statistics img {
		    margin: 2rem 0;
    }

    #mat_v2 img {
        max-width: 55%;
    }

    #DL img {
        max-width: 50%;
    }

		.col-centered {
				float: none;
				margin: 0 auto;
		}
		.button {
				color: #F0612F;
				border: 0.15rem solid #F0612F;
				padding: 0.3rem;
				margin: 0.3rem;
				text-align: center;
				text-decoration: none;
				display: inline;
				border-radius: 3px;
				box-shadow: 1px 1px 4px rgba(147, 145, 145, 0.5);
		}
		#header a:hover {
						color: white;
						background-color: #F0612F;
						text-decoration: none;
		}
		.paper{
				border-left: 0.7rem solid #F0612F;
				background-color: Gainsboro;
				padding: 0.3rem 0 0.3rem 0.7rem
		}


	</style>
</head>

<body>
	<main style="width: 90%; margin: 0 auto">
		<div id="main-navbar" class="container">
			<h1>Bone2Gene</h1>
			<ul id="header" style="text-align: right;">
				<a class="button" href="#Introduction">Introduction</a>
				<a class="button" href="#Age_Prediction">Age Prediction</a>
				<a class="button" href="#About_us">About Us</a>
				<a class="button" href="#Related_projects">Related Projects</a>
				<a class="button" href="#Contact_us">Contact Us</a>
			</ul>
			<a href="#sidedrawer" class="menu-btn">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
		<aside id="sidedrawer">
			<ul id="menu">
				<a href="" class="menu-btn">
					<span></span>
					<span></span>
					<span></span>
				<a href="#Introduction">Introduction</a>
				<a href="#Age_Prediction">Age Prediction</a>
				<a href="#About_us">About Us</a>
				<a href="#Related_projects">Related Projects</a>
				<a href="#Contact_us">Contact Us</a>
			</ul>
		</aside>
		<div class="img">
			<%= image_tag("b2g.jpg") %>
		</div>
		<br>
		<div class="container" style="padding: 0 1rem">
			<h2 id="Introduction">Introduction</h2>
			<p style="text-align: justify">
				Rare genetic diseases collectively affect more than 6% of the global population and skeletal disorders constitute
				an important group of these diseases. They often result in short stature, altered movement biomechanics, pain,
				fatigue, and reduced functional performance. They are individually very rare and are generally extremely
				heterogeneous. Therefore, even experienced clinicians might have seen only some of these disorders which makes
				their diagnosis a long and challenging process, sometimes referred to as the “diagnostic odyssey”.
			</p>
			<p style="text-align: justify">
				With the rapid development of artificial intelligence (AI), various medical imaging modalities can be used for
				developing next-generation phenotyping tools that are able to detect and recognize various and subtle
				dysmorphisms and features caused by different genetic diseases. Bone2Gene utilizes such AI techniques with
				the aim of shortening the “diagnostic odyssey”. We have so far collected 771 images of 189 patients with 7
				different skeletal disorders plus 79 healthy controls. The current data are from different clinics in Magdeburg
				and Leipzig in Germany.
			</p>
			<div  class="img">
				<ul id="statistics">
					<li><%= image_tag("patients_disorder_hist.jpg") %></li>
					<li><%= image_tag("pie.jpg") %></li>
				</ul>
			</div>
			<p style="text-align: justify">
				The current Bone2Gene classifier (so far trained on only 189 patients data) achieved an accuracy of 40% for 8
				different classes (random probability is 1/8 or 12.5%). With increasing the data and also the number of disorders,
				we envision Bone2Gene to become a supportive assistant to clinical geneticists. If you are interested in joining
				our effort or you can provide us with rare skeletal disorders data, please use the info below this page to get in
				touch with us.
			</p>
			<div id="mat_v2" class="img">
				<%= image_tag("mat_v2.jpg") %>
			</div>
			<p style="text-align: center">
				<br>
				<iframe width="448" height="252"id="youtube" src="https://www.youtube.com/embed/B_DJ-EEcN6c" title="YouTube video player"
								frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
						picture-in-picture" allowfullscreen></iframe>
				<br>
				Dr. Behnam Javanmardi presented Bone2Gene in the annual meeting of the German Society of Human Genetics
				2022 in Wuerzburg
			</p>
		</div>

		<br>
		<div class="container" style="padding: 0 1rem">
			<h2 id="Age_Prediction">Bone2gene: Age Prediction</h2>
			<br>
			<div class="img">
				<%= image_tag("boneage.jpg") %>
			</div>
			<p style="text-align: justify">
				Growth disorder is one of the main symptoms of many skeletal diseases and radiologic bone age assessment is one
				of the important tools for their diagnosis. Our Bone2Gene classifier is built upon a deep convolutional neural
				network model that we trained on 12,000 X-rays from the Radiological Society of North America (RSNA).
				Our bone age model achieved a state-of-the-art precision of mean absolute difference of 4.2 months with respect
				to the average of seven human graders (on RSNA test date set), and only 7.5 months with respect to one human
				grader on our skeletal disorder dataset (despite their dysmorphic features).
			</p>
			<div id="DL" class="img">
				<%= image_tag("DL_vs_visual_Bone_Age.jpg") %>
			</div>
			<p>
				We will soon deploy our bone age model as a web-based tool for clinical use.
			</p>

			<br>
		</div>
		<div class="container" style="padding: 0 1rem">
			<h2 id="About_us">About Us</h2>
			<div class="container">
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Krawitz_Peter.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/peter-krawitz" target="_blank">Prof. Dr. Peter Krawitz</a><br></b>
							Association for Genome Diagnostics (AGD), Germany<br>
							<b>Institute for Genomic Statistics and Bioinformatics</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("uni_logo.png", :size => "194x109")%>
							<br>
							<b>Universität Bonn</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("avanmardi_Behnam.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/behnam-javanmardi" target="_blank">Dr. Behnam Javanmardi</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("logo-IGSB-quadratisch-mit-Schrift.jpg", :size => "99x100")%>
							<br>
							<br>
							<b>Institute for Genomic Statistics and Bioinformatics</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Rassmann_Sebastian.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/sebastian-rassmann" target="_blank">Sebastian Rassmann</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("UKB_logo.png", :size => "200x44")%>
							<br>
							<br>
							<b>Universität Bonn</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Alexander_Hustinx.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/alexander-hustinx" target="_blank">Alexander Hustinx</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("Otto_von_Guericke_Universität_Magdeburg_logo.svg", :size => "300x66")%>
							<br>
							<br>
							<b>Universität Magdeburg</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Hsieh_Tzung-Chien.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/tzung-chien-hsieh" target="_blank">Tzung-Chien Hsieh</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<%= image_tag("Universität_Leipzig_crest.svg", :size => "100x100") %><br>
							<br>
							<b>Universität Leipzig</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("jingmei.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/tzung-chien-hsieh" target="_blank">Dr. Jing-Mei Li</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Software developer</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("logo_praxis_kinderzentrum.jpg", :size => "186x78") %><br>
							<br>
							<b>kinderzentrum am johannisplatz</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">

						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding: 0 auto">
			<h2 id="Related_projects">Related Projects</h2>
			<p class="paper">
				<a href="https://db.gestaltmatcher.org/"><%= image_tag("gmdb_logo.jpg", :size => "50x50")%></a>
				<a class="button" href="https://db.gestaltmatcher.org/"><b>GestaltMatcher DB</b></a><br>
				<br>
				GestaltMatcher paper:<br>
				Hsieh, TC., Bar-Haim, A., Moosa, S. et al.<br>
				<a href="https://doi.org/10.1038/s41588-021-01010-x" target="_blank">
					<strong>GestaltMatcher facilitates rare disease matching using facial phenotype descriptors.</strong></a>
				Nat Genet (2022).
			</p>
			<p class="paper">
				<a href="https://deepprivacy.gestaltmatcher.org/"><%= image_tag("gmdb_logo.jpg", :size => "50x50")%></a>
				<a class="button" href="https://deepprivacy.gestaltmatcher.org/"><b>DeepPrivacy</b></a><br>
			</p>
		</div>
		<div class="container" style="padding: 0 auto">
			<h2 id="Contact_us">Contact Us</h2>
			If you are interested in our project, please contact Prof. Peter Krawitz:
			<a href="mailto:pkrawitz@uni-bonn.de"><b>pkrawitz@uni-bonn.de</b></a>
			<br>
		</div>
	</main>
</body>
</html>