<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		#main-navbar {
				display: flex;
				justify-content: space-between;
				margin-top: 2rem;
		}
		#header {
				display: flex;
				justify-content: space-evenly;
		}
		#menu-btn {
        width: 3rem;
        height: 3rem;
		}

		#menu-btn span {
				width: 100%;
				height: 3px;
				background-color: #F0612F;
		}
		@media (max-width: 62rem) {
				#header {
						display: none;
				}

				#youtube {
            width: 300px;
						height: 171px;
				}

		}

		#img img {
				display: block;
				max-width: 90%;
				max-height: 100%;
				object-fit: cover;
				margin: 2rem auto;
		}

    #comming-soon img{
        display: block;
        max-width: 50%;
        max-height: 100%;
        object-fit: cover;
        margin: 2rem auto;
    }

		.col-centered {
				float: none;
				margin: 0 auto;
		}
		.button {
				color: #F0612F;
				border: 0.15rem solid #F0612F;
				padding: 0.3rem;
				margin: 0.3rem;
				text-align: center;
				text-decoration: none;
				display: inline;
				border-radius: 3px;
				box-shadow: 1px 1px 4px rgba(147, 145, 145, 0.5);
		}
		#header a:hover {
						color: white;
						background-color: #F0612F;
						text-decoration: none;
		}
		.paper{
				border-left: 0.7rem solid #F0612F;
				background-color: Gainsboro;
				padding: 0.3rem 0 0.3rem 0.7rem
		}


	</style>
</head>

<body>
	<main style="width: 90%; margin: 0 auto">
		<a href="" id="menu-btn">
			<span> </span>
			<span> </span>
			<span> </span>
		</a>
		<div id="main-navbar" class="container" style="padding:1rem 1rem 0 0">
			<h1 style="text-decoration-line: underline; text-decoration-color: #F0612F">Bone2Gene</h1>
			<ul id="header" style="text-align: right;">
				<a class="button" href="#Introduction">Introduction</a>
				<a class="button" href="#Age_Prediction">Age Prediction</a>
				<a class="button" href="#About_us">About Us</a>
				<a class="button" href="#Related_projects">Related Projects</a>
				<a class="button" href="#Contact_us">Contact Us</a>
			</ul>
		</div>
		<div id="img">
			<%= image_tag("bone2gene.png") %>
		</div>
		<br>
		<div class="container" style="padding: 0 1rem">
			<h2 id="Introduction">Introduction</h2>
			<p style="text-align: justify">
				Although individually rare, skeletal dysplasias collectively constitute an important group of genetic disorders often
				resulting in short stature, altered movement biomechanics, pain, fatigue, and reduced functional performance.
				The clinical diagnosis of these disorders usually requires recognizing patterns on skeletal X-Ray images which is a
				challenging task since most of these disorders are extremely rare, and even experienced clinicians might have seen
				only some of these disorders. This is where AI and computer-vision can play an important role in providing assistive
				tools for prompt detection and identification of these genetic disorders.
			</p>
			<p style="text-align: justify">
				In this project, we are collecting hand X-Ray images of patients diagnosed with skeletal dysplasias and we are using
				deep Convolutional Neural Networks (CNN) to build accurate AI models for the identification of phenotypic patterns
				and classification of different rare skeletal diseases.
			</p>
			<p style="text-align: justify">
				Our bone age DL model trained on the RSNA dataset reached a relatively good accuracy with
				a mean age difference (MAD) of around 5 months. Using knowledge transfer from the bone age model,
				we built a DL classifier fine-tuned on around 600 images of six skeletal disorders, namely Noonan,
				Ullrich-Turner, SHOX-mutation, Silver–Russell, Hypochondroplasia, and Pseudohypoparathyroidism.
				This preliminary classifier has a wide range of accuracy (e.g. 95% for SHOX-mutation compared to 0%
				for Hypochondroplasia) which is mostly caused by our currently imbalanced dataset (242 SHOXmutation images compared
				to only 25 for Hypochondroplasia).
			</p>
			<p style="text-align: center">
				<br>
				<iframe width="448" height="252"id="youtube" src="https://www.youtube.com/embed/B_DJ-EEcN6c" title="YouTube video player"
								frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
						picture-in-picture" allowfullscreen></iframe>
				<br>
				Dr. Behnam Javanmardi presented Bone2Gene in annual meeting of german human genetics in 2022 in Wuerzburg

			</p>
		</div>

		</div>
		<br>
		<div class="container" style="padding: 0 1rem">
			<h2 id="Age_Prediction">Bone2gene: Age Prediction</h2>
			<br>
			<p id="comming-soon" class="text-center" style="font-size: smaller">
				<%= image_tag("3858564.png") %>
			</p>
			<p class="text-center" style="font-size: 0.5px">
				<a style="color: #bbbbbb; text-decoration: none;" href="https://www.flaticon.com/free-icons/commerce-and-shopping"
					 title="commerce and shopping icons">Commerce and shopping icons created by Freepik - Flaticon</a>
			</p>
			<br>
		</div>
		<div class="container" style="padding: 0 1rem">
			<h2 id="About_us">About Us</h2>
			<div class="container">
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Krawitz_Peter.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/peter-krawitz" target="_blank">Prof. Dr. Peter Krawitz</a><br></b>
							Association for Genome Diagnostics (AGD), Germany<br>
							<b>Institute for Genomic Statistics and Bioinformatics</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("uni_logo.png", :size => "194x109")%>
							<br>
							<b>Universität Bonn</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("avanmardi_Behnam.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/behnam-javanmardi" target="_blank">Dr. Behnam Javanmardi</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("logo-IGSB-quadratisch-mit-Schrift.jpg", :size => "99x100")%>
							<br>
							<br>
							<b>Institute for Genomic Statistics and Bioinformatics</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Rassmann_Sebastian.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/sebastian-rassmann" target="_blank">Sebastian Rassmann</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("UKB_logo.png", :size => "200x44")%>
							<br>
							<br>
							<b>Universität Bonn</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Alexander_Hustinx.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/alexander-hustinx" target="_blank">Alexander Hustinx</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("Otto_von_Guericke_Universität_Magdeburg_logo.svg", :size => "300x66")%>
							<br>
							<br>
							<b>Universität Magdeburg</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("Hsieh_Tzung-Chien.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/tzung-chien-hsieh" target="_blank">Tzung-Chien Hsieh</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Scientific Researcher</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<%= image_tag("Universität_Leipzig_crest.svg", :size => "100x100") %><br>
							<br>
							<b>Universität Leipzig</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">
							<%= image_tag("jingmei.jpg", :size => "150x150", :style => "border-radius: 50%;") %><br>
							<b><a href="https://www.igsb.uni-bonn.de/en/team-1/tzung-chien-hsieh" target="_blank">Dr. Jing-Mei Li</a><br></b>
							IGSB, Universität Bonn<br>
							<b>Software developer</b>
						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
							<br>
							<br>
							<%= image_tag("logo_praxis_kinderzentrum.jpg", :size => "186x78") %><br>
							<br>
							<b>kinderzentrum am johannisplatz</b>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-5 col-centered">
						<p class="text-center">

						</p>
					</div>
					<div class="col-5 col-centered">
						<p class="text-center">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding: 0 auto">
			<h2 id="Related_projects">Related Projects</h2>
			<p class="paper">
				<a href="https://db.gestaltmatcher.org/"><%= image_tag("gmdb_logo.jpg", :size => "50x50")%></a>
				<a class="button" href="https://db.gestaltmatcher.org/"><b>GestaltMatcher DB</b></a><br>
				<br>
				GestaltMatcher paper:<br>
				Hsieh, TC., Bar-Haim, A., Moosa, S. et al.<br>
				<a href="https://doi.org/10.1038/s41588-021-01010-x" target="_blank">
					<strong>GestaltMatcher facilitates rare disease matching using facial phenotype descriptors.</strong></a>
				Nat Genet (2022).
			</p>
			<p class="paper">
				<a href="https://deepprivacy.gestaltmatcher.org/"><%= image_tag("gmdb_logo.jpg", :size => "50x50")%></a>
				<a class="button" href="https://deepprivacy.gestaltmatcher.org/"><b>DeepPrivacy</b></a><br>
			</p>
		</div>
		<div class="container" style="padding: 0 auto">
			<h2 id="Contact_us">Contact Us</h2>
			If you are interested in our project, please contact Prof. Peter Krawitz:
			<a href="mailto:pkrawitz@uni-bonn.de"><b>pkrawitz@uni-bonn.de</b></a>
			<br>
		</div>
	</main>
</body>
</html>